body,html {
    height: 100%;
}

.separator {
    max-width: 150px;
    color: black;
    margin-top: 50px;
    margin-bottom: 45px;
    background-color: black;
}


.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }

/*Header styles*/

header {
    height:100vh;
    width: 100%;
    background-color:#181818;
    position: relative;
    
}

header img {
    opacity: 0.3;
    max-width: 100%;
    max-height: 100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin:auto;
}

.arrow {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

.motto {
    padding-top: 120px;
    background-color: black;
    font-family: "Arial";
    width: auto;
    color: white;
}

.motto p {
    font-weight: bold;
}

.motto h1 {
    padding-top: 100px;
    font-weight: bold;
}

.motto h2 {
    font-size: 25px;
    padding-bottom: 150px;
    font-weight: lighter;   
}

.priorities {
    color: #000000;
    padding-top: 40px;
    font-size: 50px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
}

.priorities p {
    font-size: 24px;
    margin: 0 auto;
}

@media screen and (min-width: 300px) {
    .motto h1 {
        font-size: 20px;
        padding-top: 10px;
    }
    .motto h2 {
        font-size: 12px;
    }

    .priorities strong {
        font-size: 35px;
    }

    .priorities p {
        font-size: 18px;
        width: 80%;
    }
}

@media screen and (min-width: 375px) {
    .motto h1 {
        font-size: 25px;
        padding-top: 20px;
    }

    .motto h2 {
        font-size: 12px;
        font-weight: bold;
        padding-top: 18px;
    }
    .priorities p {
        font-size: 20px;
        width: 80%;
    }
    .priorities strong {
        font-size: 30px;
    }
}

@media screen and (min-width: 768px) {

    .motto p {
        font-size: 23px;
    }
    .motto h1 {
        font-size: 35px;
    }
    .motto h2 {
        font-size: 18px;
    }
    .priorities p {
        font-size: 24px;
        width: 80%;
    }
    .priorities strong {
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .motto h1 {
        font-size: 70px;
    }
    .motto h2 {
        font-size: 25px;
    }
    .priorities p {
        font-size: 28px;
        width: 80%;
    }
    .priorities strong {
        font-size: 50px;
    }
}

.contact-us {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
}
.contact-us form {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    text-align: center;
}

.contact-us span {
    font-size: 38px;
    color: white;
    padding-bottom: 50px;
    font-family: Arial;
    font-weight: bold;
}

.contact-us select {
    background-color: black;
    color: white;
    font-weight: bold;
    height: 60px;
    width: 100%;
    font-size: 18px;
    padding: 0 45px 0 20px;
}

.contact-us button {
    width: 40%;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    height: 60px;
    border-radius:30px;
    font-family: Arial;
    font-weight: bold;
}

.contact-us label {
    color: white;
    font-size: 20px;
    font-family: "Arial";
}

.contact-us input {
    margin: 0;
    font-family: 'Arial',Arial,sans-serif;
    font-size: 24px;
    height: 60px;
    font-weight: bold;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%;
    background-color: #000000;
    border: 1px solid #7c7c7c;
    color: white;
}

.contact-us input[name='Comment'] {
    padding-top: 15px;
    padding-bottom: 100px;
}

@media screen and (max-width: 321px) {
    .contact-us label {
        font-size: 11px;
    }
}

@media screen and (max-width: 340px) {
    .contact-us label {
        font-size: 16px;
    }
}
@media screen and (max-width: 360px) {
    .contact-us label {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .contact-us span {
        font-size: 48px;
    }

    .contact-us input {
        font-size: 20px;
    }

    .contact-us select {
        font-size: 20px;
    }
}

@media screen and (min-width: 1300px) {
    .contact-us span {
        font-size: 38px;
    }
    .contact-us input {
        font-size: 14px;
    }

    .contact-us select {
        font-size: 14px;
    }
}

footer {
    background-color: #000000;
    color: white;
    padding-top: 100px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 40px;
}

footer img {
    width: 100px;
    padding-bottom: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
}